body {
	font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
	background-color: #EBF2F5;
	color: #6F6F6F;
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

a {
	text-decoration: none;
	/*color: inherit;*/
}

/* Text bubble! */
.bubble {
	float: right;
	position: relative;
	width: 460px;
	height: 100px;
	padding: 0px;
	background: #FFFFFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.bubble:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 15px 0;
	border-color: #FFFFFF transparent;
	display: block;
	width: 0;
	z-index: 1;
	bottom: -15px;
	left: 400px;
}

/* Spinners! Based SpinKit got my back. */
.spinner {
	margin: 0 auto;
	width: 50px;
	height: 30px;
	text-align: center;
	font-size: 10px;
}

.spinner > div {
	background-color: #ccc;
	height: 100%;
	width: 6px;
	display: inline-block;
	-webkit-animation: stretchdelay 1.2s infinite ease-in-out;
	animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.spinner .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.spinner .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.spinner .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
	0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
	20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
	0%, 40%, 100% { 
		transform: scaleY(0.4);
		-webkit-transform: scaleY(0.4);
	}  20% { 
		transform: scaleY(1.0);
		-webkit-transform: scaleY(1.0);
	}
}

/* Misc page junk! */
#fact {
	margin-top: 20px;
	padding: 5px 10px;
	position: relative;
}

	#hashtag {
		color: #ccc !important;
		position: absolute;
		bottom: 5px;
		right: 5px;
	}

	#fact.spinning #hashtag {
		display: none;
	}

	#fact:not(.spinning) #spinner {
		display: none;
	}

	#spinner {
		position: absolute;
		bottom: 5px;
		right: 5px;
	}

#face {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 176px; height: 200px;
	background-image: url('/static/images/4.png');
	position: relative;
	top: 20px;
	margin-right: 80px;
	margin-top: 15px;
	float: right; margin: 0 0 1em 1em;
}

#wtf {
	display: block; margin-left: auto; margin-right: auto;
	margin-top: 135px;
}

/* These button rules should probably be cleaned up */
.button {
	padding: 2px 4px;
	background-color: #4479BA;
	color: #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: none;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

.button:hover {
	background-color: #356094;
	text-decoration: none;
}

.button:active {
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	background-color: #2E5481;
}

.button.green {
	background-color: #5bb75b;
	border-color: #51a351;
}

.button.green:hover, 
.button.green:active {
	background-color: #51a351;
}

.button.red {
	background-color: #da4f49;
	border-color: #bd362f;
}

.button.red:hover,
.button.red:active {
	background-color: #bd362f;
}

.button.orange {
	background-color: #faa732;
	border-color: #f89406;
}

.button.orange:hover,
.button.orange:active {
	background-color: #f89406;
}

.button.cyan {
	background-color: #49afcd;
	border-color: #2f96b4;
}

.button.cyan:hover,
.button.cyan:active {
	background-color: #2f96b4;
}

/* Header-related */

#headerw {
	text-align: right;
}

#header {
	color: #2BA6CB;
	font-size: 400%;
	margin-bottom: 0;
	display: inline-block;
}

#sub-heading {
	margin-left: 6px;
	color: #999;
}
